@import "../scss/colors_base/base";
@import "~bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "../scss/custom/login";
@import "../scss/custom/home";
@import "../scss/custom/carousel";
@import "../scss/custom/footer";
@import "../scss/custom/register-info";
@import "../scss/custom/register";
@import "../scss/custom/fonts";
@import "../scss/custom/main-menu";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "pf_beausans_proregular";
}

.loading {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.input-group-text {
  width: 20rem;

  &.in-modal {
    width: 12rem;
  }
}

.card {
  border: none;
}

.height-multiple {
  min-height: 6rem;
}

.nav-style {
  height: 80vh;
  background-color: $primary !important;
}

.text-danger {
  width: 100% !important;
}
.nav-link {
  cursor: pointer;
  height: 100%;
}

.form-check .form-check-input {
  width: 1rem;
  height: 1rem;
  margin-left: -1.6rem;
}
.overflow-auto {
  overflow-y: auto !important;
}

.multiselect {
  width: 100%;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.checkboxes {
  display: block;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background-color: white;
  height: 7rem;
  padding: 0.5rem 0;

  .form-check {
    padding: 0 0 0 0.5rem;
  }
}

.checkboxes input[type="checkbox"] {
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin: -5px 0px 0 0;
}

.checkboxes label {
  display: inline-block;
  vertical-align: top;
  
}

.checkboxes label:hover {
  background-color: rgba(20, 146, 136, 0.5);
}



