@import "../scss/colors_base/base";
@import "~bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "../scss/custom/login";
@import "../scss/custom/home";
@import "../scss/custom/carousel";
@import "../scss/custom/footer";
@import "../scss/custom/register-info";
@import "../scss/custom/register";
@import "../scss/custom/fonts";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "pf_beausans_proregular";
}

.loading {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.input-group-text {
  width: 20rem;

  &.in-modal {
    width: 12rem;
  }
}

.card {
  border: none;
}

.height-multiple {
  min-height: 6rem;
}

.nav-style {
  height: 80vh;
  background-color: $primary !important;
}

.text-danger {
  width: 100% !important;
}