@font-face {
    font-family: "pf_beausans_probbook";
    src: url("../../../fonts/pfbeausanspro-bbook-webfont.woff2") format("woff2"),
      url("../../../fonts/pfbeausanspro-bbook-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "pf_beausans_probbook_italic";
    src: url("../../../fonts/pfbeausanspro-bbookitalic-webfont.woff2") format("woff2"),
      url("../../../fonts/pfbeausanspro-bbookitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "pf_beausans_probold";
    src: url("../../../fonts/pfbeausanspro-bold-webfont.woff2") format("woff2"),
      url("../../../fonts/pfbeausanspro-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "pf_beausans_prolight_italic";
    src: url("../../../fonts/pfbeausanspro-lightitalic-webfont.woff2") format("woff2"),
      url("../../../fonts/pfbeausanspro-lightitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "pf_beausans_proregular";
    src: url("../../../fonts/pfbeausanspro-regular-webfont.woff2") format("woff2"),
      url("../../../fonts/pfbeausanspro-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "pf_beausans_proSBdIt";
    src: url("../../../fonts/pfbeausanspro-semibolditalic-webfont.woff2") format("woff2"),
      url("../../../fonts/pfbeausanspro-semibolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }