.content-box-login-home {
  padding: 2rem;
  min-height: 26.125rem;
}

.content-box-internas {
  padding: 2rem;
  background-color: $gray-100;
  border-radius: 0.7rem;

  span {
    font-size: 0.84rem;
    width: 13rem;
  }

  @media (max-width: 768px) {
    span {
      
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}

.logo img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}