.content-box-login {
  padding: 2rem;
  background-color: $gray-100;
  border-radius: 0.7rem;

  .title {
    font-family: "pf_beausans_probold";
  }

  .subtitle {
    font-family: "pf_beausans_proregular";
  }

  .forgot {
    font-family: "pf_beausans_probbook";
  }
  .questions {
    font-family: "pf_beausans_probbook";
    color: gray;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .content-box-login {
    margin-top: 1.25rem;
  }
}

.main-login {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 1rem;
  background: url("../../../images/collage.jpg") no-repeat center center;
  background-size: cover;
  .child-login {
    width: 100%;
    margin: 0;
    flex: 1;
    display: table;
    min-height: 46.875rem;

    .fluid-container {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

@media (max-width: 768px) {
  /*  .logo {
    padding: 1.25rem 0;
  } */
}

.logo img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.recaptcha {
  min-height: 4rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  overflow-x: hidden;
}

.text-danger {
  display: flex;
  justify-content: center;
  padding: 0.4rem 0;
  font-size: 0.9375rem;
}

.bg-button {
  background-color: $green;
  color: white;
}
