.content-box-register-info {
    padding: 2rem;
    background-color: $gray-100;
    border-radius: 0.7rem;
    .welcome{
        font-family: "pf_beausans_probold";
        color:$blue;
        font-size: 1.5rem;
        border-bottom: 1px solid #ccc;
        text-align: center;
        padding-bottom: 10px;
    }
    .title {
        font-family: "pf_beausans_probold";
        color: #000;
        font-weight: 100;
    }

    .description {
        font-family: "pf_beausans_proregular";
        font-size:0.8rem;
    }

    .accordion-item .accordion-button {
        font-size: 0.9rem;
        padding: 0.6rem;
        color: $blue;
    }

    span {
        font-size:0.84rem;
        width: 14rem;
    }

    input {
        font-size:0.84rem;
        height: 2.125rem;
    }
    select {
        height: 2.125rem;
    }
}

@media (max-width: 768px) {
    .content-box-register-info {
        margin-top: 1.25rem;
    }
}